@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* #root {
  background-image: linear-gradient(to right, #feaf00, #f8d442);
  min-height: 100vh;
} */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}
.SignInContianer {
  min-height: 100vh;

  background-image: linear-gradient(to right, #feaf00, #f8d442);
}
.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  justify-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 66%;
  width: 30%;
  background: #fff;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  max-width: 550px;
}

.login-card img {
  width: 70%;
  padding: 30px;
}
.SubSign1 {
  font-weight: 600;
  font-size: 1.375rem;
  text-align: center;
}
.SubSign2 {
  font-style: normal;
  font-size: 0.9rem;
  text-align: center;

  color: #6c6c6c;
}
.logInForm {
  display: flex;
  width: 80%;
}
.formLogIn {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 10px;
  color: #6c6c6c;
}
.LogInFomrLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 10px;
  color: #6c6c6c;
}
.InpunLogIn {
  box-sizing: border-box;

  width: 100%;
  height: 44px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding-left: 10px;
  font-size: 0.88rem;
}
input::placeholder {
  color: #cdcdcd;
}
.SignInBut {
  margin-top: 20px;
  height: 44px;
  box-sizing: border-box;
  width: 100%;
  color: white;
  background: #feaf00;
  border-radius: 4px;
  font-size: 0.88rem;
  border: none;
  cursor: pointer;
}
.FootOfloogin {
  text-align: center;
}
p > span {
  color: #feaf00;
  text-decoration: underline;
}

/*                             */

.Container {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background: #f2eae1;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
  align-items: center;
  justify-content: center;
}
.LogoInSide {
  width: 100%;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.UserIMG {
  width: 80%;
  border-radius: 50%;
}
.UserInfo {
  text-align: center;
  padding-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.AdminFont {
  font-style: normal;
  font-weight: 700;
  color: #000000;
  font-size: 0.9rem;
}
.AdminFont2 {
  font-style: normal;
  font-weight: 500;
  color: #feaf00;
  font-size: 0.9rem;
}

.ButtonOfNav > div {
  text-decoration: none;
}
.link {
  margin: 25px;
  color: #000000;
  text-decoration: none;
  display: flex;
  padding: 10px 15px;
}
.link > span {
  margin-left: 20px;
}
.Footer {
  margin-top: 160px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Footer > img {
  width: 20px;
  margin-left: 10px;
}
.icon,
.link_text {
  font-size: 10px;
}
.active {
  background: #feaf00;
  color: #000;
}



/*                               */



.TopBar {
  display: flex;
  justify-content: space-between;
  pad: 1rem;
  align-items: center;
  width: 100%;
  height: 60px;
  transition: all 0.5s ease-in-out;
  top: 0;
  z-index: 100;
}
.Searchbar {
  display: flex;
  
  align-items: center;
}

.SearchForm > input {
  width: 120%;
  height: 34px;
  border: none;
  border-radius: 4px;
  font-size: 0.88rem;
  padding-left: 10px;
  border: 1px solid #e5e5e5;
}
input::placeholder {
  color: #cdcdcd;
  font-style: normal;
  font-weight: 400;
}
.searchIcon {
  width: 30px;
  height: 14px;
  margin-right: 20px;
  margin-left: 10px;
}
.NotifyIcon {
  width: 30px;
  height: 25px;
 ;
}
.FoldIcon {
  width: 26px;
  height: 20px;

}

.DashboardContainer {
  display: block;
}
.Compoenents {
  display: fl;
  justify-content: space-between;
}
