@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

#root {
  background-image: linear-gradient(to right, #feaf00, #f8d442);
  min-height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  justify-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 66%;
  width: 30%;
  background: #fff;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  max-width: 550px;
}

.login-card img {
  width: 70%;
  padding: 30px;
}
.SubSign1 {
  font-weight: 600;
  font-size: 1.375rem;
  text-align: center;
}
.SubSign2 {
  font-style: normal;
  font-size: 0.9rem;
  text-align: center;

  color: #6c6c6c;
}
.logInForm {
  display: flex;
  width: 80%;
}
.formLogIn {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 10px;
  color: #6c6c6c;
}
.LogInFomrLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 10px;
  color: #6c6c6c;
}
.InpunLogIn {
  box-sizing: border-box;

  width: 100%;
  height: 44px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding-left: 10px;
  font-size: 0.88rem;
}
input::placeholder {
  color: #cdcdcd;
}
.SignInBut {
  margin-top: 20px;
  height: 44px;
  box-sizing: border-box;
  width: 100%;
  color: white;
  background: #feaf00;
  border-radius: 4px;
  font-size: 0.88rem;
  border: none;
  cursor: pointer;
}
.FootOfloogin {
  text-align: center;
}
p > span {
  color: #feaf00;
  text-decoration: underline;
}
