@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

#root {
  background-image: linear-gradient(to right, #feaf00, #f8d442);
  min-height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.login-card {
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 550px;
  width: 475px;
  background: #fff;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.login-card img {
  margin-left: 60px;
  margin-top: 40px;
}
.SubSign1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
}
.SubSign2 {
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  text-align: center;

  color: #6c6c6c;
}
.logInForm {
  display: flex;
}
label {
  margin-left: 20px;
  margin-top: 40px;
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #a4a4a4;
  font-size: 12px;
}
input {
  margin-left: 20px;
  background: #ffffff;
  width: 415px;
  height: 44px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
}
input::placeholder {
  font-weight: 400;
  font-size: 0.75rem;
  padding: 10px;
}
.SignInBut {
  background-color: #feaf00;
  width: 422px;
  height: 44px;
  margin-top: 30px;
  margin-left: 20px;
  border: none;
  color: #ffffff;
  font-size: 0.88rem;
  border-radius: 4px;
}
.FootOfloogin {
  text-align: center;
}
p > span {
  color: #FEAF00
  ;
}
